body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

.full-width {
  flex: 0 0 100%;
  display: flex;
  justify-content: center; }

.main-container {
  flex: 0 0 90%;
  display: flex;
  justify-content: center; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  margin: 0;
  padding: 0; }

button {
  background: none;
  outline: none;
  border: none; }

.header-bar-full {
  background-color: #083D8C; }
  .header-bar-full .header-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; }
    .header-bar-full .header-bar .header-bar-link-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px; }
      .header-bar-full .header-bar .header-bar-link-container .header-bar-link {
        font-size: 14px; }
        .header-bar-full .header-bar .header-bar-link-container .header-bar-link a {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          color: #3F3F3F;
          color: white;
          text-decoration: none; }
    .header-bar-full .header-bar .fa-share-square-o {
      color: white;
      padding-left: 5px;
      font-size: 14px; }

#header-bar-link-container-right {
  padding-right: 0; }

.nav-bar-full {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px; }
  .nav-bar-full .nav-bar {
    display: flex; }
    .nav-bar-full .nav-bar .nav-left-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
    .nav-bar-full .nav-bar .nav-right-content {
      flex: 1.5;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      .nav-bar-full .nav-bar .nav-right-content .navigation-container {
        display: flex;
        flex-direction: row; }
        .nav-bar-full .nav-bar .nav-right-content .navigation-container .navigation-list {
          padding: 30px; }
          .nav-bar-full .nav-bar .nav-right-content .navigation-container .navigation-list a {
            text-decoration: none;
            color: #083D8C;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: #3F3F3F;
            font-size: 16px; }
      .nav-bar-full .nav-bar .nav-right-content .nav-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border: 2px solid #216DDF;
        border-radius: 3px;
        padding: 12px 20px;
        margin-left: 30px; }
        .nav-bar-full .nav-bar .nav-right-content .nav-button .fa-map-marker {
          margin: 0;
          padding: 0;
          margin-right: 10px;
          color: #216DDF;
          font-size: 22px; }
        .nav-bar-full .nav-bar .nav-right-content .nav-button .nav-button-text {
          margin: 0;
          padding: 0;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          color: #3F3F3F;
          color: #216DDF;
          font-size: 16px; }

.header-image .image-banner {
  width: 100vw;
  height: 13vw; }

.filter-bar-full .filter-bar {
  background-color: #F6F6F6;
  border-radius: 5px;
  display: flex;
  align-items: center; }
  .filter-bar-full .filter-bar .filter-bar-text {
    margin: 20px;
    font-size: 18px; }
  .filter-bar-full .filter-bar .filter-left-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #3F3F3F;
    color: #216DDF; }
  .filter-bar-full .filter-bar .filter-split-bar {
    height: 80%;
    width: 3px;
    background-color: #ECECEC; }
  .filter-bar-full .filter-bar .filter-right-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #3F3F3F;
    color: #3F3F3F; }
  .filter-bar-full .filter-bar .filter-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .filter-bar-full .filter-bar .filter-list-container .filter-input-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 15px; }
      .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px; }
        .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container label {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          position: relative;
          cursor: pointer;
          z-index: 1;
          background-color: white;
          border: 1px solid #D8D8D8;
          display: flex;
          justify-content: center;
          align-items: center; }
          .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container label::after {
            display: block;
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: white; }
          .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container label:hover {
            transition: background-color ease 0.2s;
            background-color: rgba(33, 109, 223, 0.05); }
        .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container .checked {
          background-color: #083D8C; }
        .filter-bar-full .filter-bar .filter-list-container .filter-input-container .checkbox-input-container input[type=checkbox] {
          position: absolute;
          visibility: hidden; }
      .filter-bar-full .filter-bar .filter-list-container .filter-input-container .input-text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #3F3F3F;
        text-transform: capitalize;
        font-size: 16px; }
  .filter-bar-full .filter-bar .question-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #3F3F3F;
    color: #216DDF;
    background-color: #D8D8D8;
    width: 30px;
    height: 30px;
    border-radius: 3px; }
    .filter-bar-full .filter-bar .question-button:hover {
      cursor: pointer; }

.card-container-full .card-container {
  display: flex;
  flex-flow: wrap; }
  .card-container-full .card-container .card {
    max-width: 400px;
    margin: 25px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px; }
    .card-container-full .card-container .card .card-title-container {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      border-bottom: 1.5px solid #ECECEC;
      margin-bottom: 10px; }
      .card-container-full .card-container .card .card-title-container .card-title {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: #3F3F3F;
        color: #3F3F3F; }
    .card-container-full .card-container .card .card-content-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .card-container-full .card-container .card .card-content-container .card-content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px; }
        .card-container-full .card-container .card .card-content-container .card-content-top .number-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 68%; }
          .card-container-full .card-container .card .card-content-container .card-content-top .number-container .fa-phone {
            color: white;
            background-color: #216DDF;
            padding: 6px 8px;
            border-radius: 100%;
            align-self: center; }
          .card-container-full .card-container .card .card-content-container .card-content-top .number-container .phone-number {
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            color: #3F3F3F;
            font-size: 24px;
            align-self: center;
            margin: 0;
            padding: 0;
            color: #3F3F3F; }
        .card-container-full .card-container .card .card-content-container .card-content-top .number-sub-text {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          color: #3F3F3F;
          font-size: 11px;
          font-style: italic;
          margin: 10px 0px; }
      .card-container-full .card-container .card .card-content-container .card-content-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px; }
        .card-container-full .card-container .card .card-content-container .card-content-middle .card-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 25px;
          border: 2px solid #02C7C6;
          border-radius: 3px; }
          .card-container-full .card-container .card .card-content-container .card-content-middle .card-button .fa-envelope {
            color: #083D8C;
            margin-right: 10px; }
          .card-container-full .card-container .card .card-content-container .card-content-middle .card-button .card-button-text {
            margin: 0;
            padding: 0;
            color: #083D8C;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: #3F3F3F; }
      .card-container-full .card-container .card .card-content-container .card-content-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 35px 0px; }
        .card-container-full .card-container .card .card-content-container .card-content-bottom .card-content-bottom-title {
          padding: 0;
          margin: 0;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          color: #3F3F3F;
          font-size: 12px; }
        .card-container-full .card-container .card .card-content-container .card-content-bottom .card-content-bottom-text {
          margin: 0;
          padding: 0;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          color: #3F3F3F;
          font-size: 12px;
          line-height: 18px; }
    .card-container-full .card-container .card .card-footer-container {
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      background-color: #F6F6F6;
      display: flex;
      justify-content: center;
      padding: 20px 0px; }
      .card-container-full .card-container .card .card-footer-container .card-footer-content-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .card-container-full .card-container .card .card-footer-container .card-footer-content-container .footer-text-container {
          width: 40%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin: 5px; }
          .card-container-full .card-container .card .card-footer-container .card-footer-content-container .footer-text-container .fa-card-icon {
            color: #D8D8D8;
            font-size: 12px;
            margin-right: 10px; }
          .card-container-full .card-container .card .card-footer-container .card-footer-content-container .footer-text-container .footer-text {
            padding: 0;
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #3F3F3F;
            font-size: 12px;
            color: #3F3F3F; }

.full-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 63, 63, 0.5);
  z-index: 2; }
  .full-modal-container .modal-card {
    max-width: 700px;
    width: 80%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .full-modal-container .modal-card .modal-header-container {
      width: 100%;
      background-color: #083D8C;
      display: flex;
      justify-content: center; }
      .full-modal-container .modal-card .modal-header-container .modal-header-content-container {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .full-modal-container .modal-card .modal-header-container .modal-header-content-container .modal-header-left-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 15px 20px; }
          .full-modal-container .modal-card .modal-header-container .modal-header-content-container .modal-header-left-container .modal-title-one {
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            color: #3F3F3F;
            text-transform: uppercase;
            color: white;
            font-size: 14px; }
          .full-modal-container .modal-card .modal-header-container .modal-header-content-container .modal-header-left-container .modal-title-two {
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            color: #3F3F3F;
            color: white;
            font-size: 28px; }
        .full-modal-container .modal-card .modal-header-container .modal-header-content-container .modal-header-right-container:hover {
          cursor: pointer; }
        .full-modal-container .modal-card .modal-header-container .modal-header-content-container .modal-header-right-container .fa-modal-x {
          color: white;
          font-size: 22px; }
    .full-modal-container .modal-card .modal-content-container {
      padding: 0px 35px; }
      .full-modal-container .modal-card .modal-content-container .modal-content-text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #3F3F3F;
        color: #616161;
        font-size: 14px; }
      .full-modal-container .modal-card .modal-content-container .modal-form-container {
        background-color: #F6F6F6;
        padding: 0px 20px;
        display: flex;
        flex-direction: column; }
        .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 10px 0px; }
          .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .input-title-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .input-title-container .input-title {
              margin: 0;
              padding: 0;
              font-family: "Open Sans", sans-serif;
              font-weight: 700;
              color: #3F3F3F;
              color: #616161;
              text-transform: capitalize;
              font-size: 14px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .input-title-container .fa-modal-check {
              margin: 0;
              padding: 3px;
              border: 2px solid #BEBEBE;
              border-radius: 100%;
              color: rgba(103, 220, 183, 0); }
              .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .input-title-container .fa-modal-check:hover {
                color: #67dcb7;
                border: 2px solid #02C7C6;
                cursor: pointer; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .input-title-container .input-optional {
              margin: 0;
              padding: 0;
              font-family: "Open Sans", sans-serif;
              font-weight: 400;
              color: #3F3F3F;
              font-style: italic;
              color: #BEBEBE;
              font-size: 12px; }
          .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-input {
            border: 2px solid #BEBEBE;
            border-radius: 3px;
            padding: 10px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-input:focus {
              border: 2px solid #02C7C6;
              outline: #02C7C6; }
          .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-textarea {
            margin: 0;
            padding: 0; }
          .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-button-container {
            margin: 5px 0px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-button-container .modal-input-button {
              width: 60px;
              height: 30px;
              border-radius: 5px;
              border: 1.5px solid #616161;
              outline: none;
              background-color: rgba(1, 199, 198, 0);
              font-family: "Open Sans", sans-serif;
              font-weight: 600;
              color: #3F3F3F;
              color: #616161;
              font-size: 14px; }
              .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-button-container .modal-input-button:hover {
                color: white;
                background-color: #01c7c6;
                cursor: pointer; }
              .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-button-container .modal-input-button:focus {
                color: white;
                background-color: #01c7c6;
                cursor: pointer; }
              .full-modal-container .modal-card .modal-content-container .modal-form-container .modal-input-container .modal-button-container .modal-input-button:active {
                color: white;
                background-color: #01c7c6;
                cursor: pointer; }
        .full-modal-container .modal-card .modal-content-container .modal-form-container .phone-number {
          width: 40%; }
        .full-modal-container .modal-card .modal-content-container .modal-form-container .form-footer-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1.5px solid #D8D8D8; }
          .full-modal-container .modal-card .modal-content-container .modal-form-container .form-footer-container .form-footer-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 30px 40px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .form-footer-container .form-footer-button .form-button-text {
              font-family: "Open Sans", sans-serif;
              font-weight: 700;
              color: #3F3F3F;
              color: modal-charcoal;
              font-size: 18px; }
            .full-modal-container .modal-card .modal-content-container .modal-form-container .form-footer-container .form-footer-button .form-button-arrow {
              color: #01c7c6;
              font-size: 22px;
              margin-left: 5px; }
    .full-modal-container .modal-card .modal-footer-container {
      width: 100%;
      background-color: #F6F6F6; }
      .full-modal-container .modal-card .modal-footer-container .modal-footer-text {
        margin: 0;
        margin-top: 15px;
        padding: 20px 35px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #3F3F3F;
        color: #616161;
        font-size: 12px; }

/*# sourceMappingURL=main.css.map */
